#card {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 1rem;
  color: whitesmoke;
  margin-bottom: 0.5rem;

  #card-wrapper {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border-radius: 1rem;
  background-color: darkcyan;

    #value {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-radius: 1rem;
      background-color: purple
    }

    #suit {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      background-color: darkcyan
    }
  }
}

