@import '../../../assets/scss-variables.scss';

#card {
  width: $card-width;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: $card-border-radius;
  color: $card-text-colour;
  margin-bottom: $card-margin-bottom;

  #card-wrapper {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border-radius: $card-border-radius;
  background-color: $card-colour;

    #value {
      padding-left: $card-padding-horizontal;
      padding-right: $card-padding-horizontal;
      border-radius: $card-border-radius;
      background-color: $card-value-colour;
    }

    #suit {
      padding-left: $card-padding-horizontal;
      padding-right: $card-padding-horizontal;
      border-top-right-radius: $card-border-radius;
      border-bottom-right-radius: $card-border-radius;
      background-color: $card-colour;
    }
  }
}

