$header-margin-top: 2rem;
$header-margin-bottom: 5rem;
$grid-width: 96vw;
$card-colour: darkcyan;
$card-value-colour: purple;
$card-text-colour: whitesmoke;
$card-border-radius: 1rem;
$card-padding-horizontal: 0.5rem;  
$card-width: 100%;
$card-margin-bottom: 0.5rem;
  
