
#header {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#grid-wrapper {
  display: flex;
  justify-content: center;
    
  #grid {
    display: grid;
    grid-template-columns: repeat(var(--num-columns), 1fr); //  uses custom property
    width: 96vw;
  }
}


