<div class="header">
  <!-- the dropdowns to choose the number of cards to display and the number of columns to use -->
  <label for="num_cards">No. of cards: </label>
  <input type="number" step="1" name="num_cards" id="num_cards" data-cy="num_cards" [(ngModel)]="numCards" pattern="^[0-9]+$" value="1" min="1" (ngModelChange)="changeGrid()"/>
  
  <label for="num_columns">Number of columns: </label>
  <input type="number" step="1"  name="num_columns" id="num_columns" data-cy="num_columns" [(ngModel)]="numColumns" pattern="^[0-9]+$" value="1" min="1" (ngModelChange)="changeGrid()" />
</div>


<div class="grid">
  <!-- displays the cards themselves using CSS custom properties-->
@for (card of cardsArray; track card.id) {  
  <!--Angular v17 flow control -->
  <app-card [value]="card"></app-card>
}
</div>

